/* General CSS 
   Author: RRossi
   Date: 22/07/2011
*/

#wrapper {
	clear: both;
	width: 1024px;
	margin: 0 auto;
	font-family: Verdana,Arial,sans-serif;
}

#wrapperLogin {
	display:block;
    /*set the div in the center of the screen*/
    position:absolute;
    top:25%;
    left:38%;
    text-align: center;
}

#header {	
	margin: auto;
	width: 1024px;
	/*height: 100px;*/
}

#contentLogin {
    width:400px;
}

#content_title {
	float: left;	
	margin-top: 5px;
    border: 1px solid #A6C9E2;
	width: 940px;
	text-align: left;
	padding: 3px;
	padding-left: 8px;
	border-radius: 5px 5px 5px 5px;
	color: #0078AE;
	font-weight: bold;
}

#logo {
	float: left;
}

#logoLogin {
	margin-bottom: 10px;
	padding-left: 40px;
}

#userInfo {
	padding-top: 20px;
    padding-right: 10px;
	float: right;
	font-size: 0.9em;
	color: #A6C9E2;
}

#top_menu { 	
	float: left;
	width: 1024px;
	text-align: left;
}

#content_page {
	float: left;
	margin-top: 10px;
	padding-left: 0px;
	margin-bottom: 20px;
}

#top_content {
	float: left;
	width: 930px;
	margin-top: 5px;
	margin-bottom: 10px;
    border: 1px solid #A6C9E2;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 5px 5px 5px 5px;
	text-align: left; /* for IE alignment */
}

.left_content_column {
	float: left;
	width: 290px;
	margin: 0px 5px 0px 0px;
	padding: 0;
}

.left_content {
	float: left;
	width: 290px;
	margin-bottom: 5px;
	font-size: 0.8em !important;
}

.right_content {
	float: left;
	width: 680px;
	margin-left: 5px;
	margin-bottom: 5px;
	font-size: 0.8em !important;
/*	padding: 0 0 0 0;*/
}

.noPadding {
	padding:0;
}

.bottom_content {
	float: left;
	width: 940px;
	margin-bottom: 15px;
	padding-left: 5px;
}

.panelGridClass {
	margin-top: 10px;
	margin-left: 50px; 
    width: 700px;
}

.panelGridClassBig {
	margin-top: 10px;
	margin-left: 10px; 
	margin-bottom: 10px;
    width: 720px;
}

.panelGridLoginClass {
	margin-top: 10px;
	margin-left: 0px; 
    width: 400px;
}

.columnLabelBig {
	width: 120px;
}

.columnContentBig {
	width: 600px;
}

.columnButtons {
	width: 920px;
	text-align: right;
	padding-right: 250px;
}

.columnLabel {
	width: 160px;
}

.columnContent {
	width: 340px;
}

.columnMsg {
	width: 200px;
}

.uploadButton {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.customSelectField {
	border: 1px solid #77D5F7;
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #77D5F7 inset;
    color: #026890;
    font-size: 1em;
    font-family: Verdana,Arial,sans-serif;
    border-radius: 5px 5px 5px 5px;
	margin: 0;
    outline: medium none;
    padding: 4px;
}

.columnTableSx {
	width: 35%;
	text-align: left;
}

.columnTableCenter {
	width: 30%;
	text-align: center;
}

.columnTableDx {
	width: 35%;
	text-align: left;
}	
	
.centerText {
	text-align: center;
}

.footerButtonSingle {
	margin-left: 250px;
}

.columnLabelLogin {
	width: 100px;	
	text-align: right;
	color: #026890;
}

.columnContentLogin {
	padding-left: 20px;
	width: 300px;
	text-align: left;
}

.dialogCentered {
	text-align: center;
}

.infoUnselect {
	color: gray;
	font-style: italic;
	margin-bottom: 5px;
}

.tableCellGreen {
	color: green;
}

.tableCellRed {
	color: red;
}

.hiddenField {
	visibility:hidden;
	position:absolute;
	top:0;
	left:0
}

.columnWidth100 {
	width: 100px;
}

.columnWidth100Grey {
	width: 100px;
	background-color: #F2F5F9;
}

.columnWidth300 {
	width: 200px;
}

.spanIndication {
	color: gray;
	font-style: italic;
}

/* Override primefaces CSS */
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 0.8em;
}

.ui-panel-titlebar {
	text-align: left;
}

.ui-panel {
	float: left;
}

.uploadifyQueueItem {
    background-color: #F5F5F5;
    border: 2px solid #E5E5E5;
    font: 11px Verdana,Geneva,sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
}

.ui-widget select {
	border: 1px solid #77D5F7;
	background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 2px #77D5F7 inset;
    color: #026890;
    font-size: 1em;
    font-family: Verdana,Arial,sans-serif;
    border-radius: 5px 5px 5px 5px;
}

.ui-datatable-data-empty {
	text-align: center;
	width: 940px;
}

.ui-datatable .ui-column-filter {
    display: block;
    margin: auto;
    width: 100%;
}

.ui-datatable.ui-datatable-resizable table {
    width: 100%;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
    border: 1px solid #77D5F7;
}

.ui-datatable-data-empty td {
    border-color: white !important;
}  

.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}

/* jQuery validation */
#manForm input.error {
	border: 1px solid #e77776;
	box-shadow: 0 2px 2px #e77776 inset;
}

#manForm button.disabledButton {
	border: 1px solid #e77776;
	background: graytext;
}
